@import '__variables.scss';

* {
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #000;
}

h1 {
    color: $teal-color;
}

.nhan-chinh {
    width: 150px;
    height: 50px;
}

// Form đăng ký
form{
  padding: 0 0 10px 0;
}

form h3{
  text-align: center;
}

.container{
}