<div class="container col-lg-6 mb-3">
    <div class="mt-4 row justify-content-center bg-light">

        <form action="/types/store" class="pt-4" method="POST">
            <h3 class="mb-3">Tạo mới loại sản phẩm</h3>
            
            <div class="mb-3">
                <label for="name" class="form-label">Tên loại</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success">Thêm</button>
            </div>
        </form>

    </div>

</div>
