<div class="container col-lg-6 mb-3">
    <div class="mt-4 row justify-content-center bg-light">

        <form action="/products/store" class="pt-4" method="POST">
            <h3 class="mb-3">Đăng sản phẩm</h3>
            <div class="mb-3">
                <label for="id" class="form-label">Mã sản phẩm</label>
                <input type="text" class="form-control" id="id" name="id">
            </div>
            <div class="mb-3">
                <label for="ten" class="form-label">Tên sản phẩm</label>
                <input type="text" class="form-control" id="ten" name="ten">
            </div>
            <div class="mb-3">
                <label for="gia" class="form-label">Giá</label>
                <input type="text" class="form-control" id="gia"  name="gia">
            </div>
            <div class="mb-3">
                <label for="loai" class="form-label">Loại sản phẩm</label>
                <input type="text" class="form-control" id="loai" name="loai">
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">Url</label>
                <input type="text" class="form-control" id="url" name="url">
            </div>
            <div class="mb-3">
                <label for="mo_ta" class="form-label">Mô tả</label>
                <textarea type="text" class="form-control" id="mo_ta" name="mo_ta"></textarea>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success">Thêm sản phẩm</button>
            </div>
        </form>

    </div>

</div>
