<div class="mt-2">
	<div class="row">
        <div class="col-lg-7">
            <img width="444px" height="444px" src="{{product.url}}" alt="">
            <div class="mt-2">{{{product.mo_ta}}}</div>
        </div>
        <div class="col-lg-5">
            <h3>{{product.ten}}</h3>
            <div class="mt-4 d-flex flex-row justify-content-between">
				<div>
					<p class="btn btn-danger">{{product.gia}}₫</p>
				</div>
				<div>
					<a href="#" class="btn btn-success">Mua ngay</a>
				</div>
											
			</div>
            
        </div>
    </div>
</div>